**/reverse/
**/document/
**/Document/
**/documents/
**/src/configs/
**/checkpoints/
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
.ipynb_checkpoints/
data/processed/
results/
outputs/
*tar.gz
*.png
*.json